
@media (max-width: 600px) {
    .ChartNavButton div {
        font-size: 1em;
        padding-left: 0.3em;
        padding-right: 0.35em;
    }
}

@media (max-width: 500px) {
    .ChartNavButton div {
        font-size: 11px;
    }
}
