
@media (max-width: 600px) {
    .ChartNavButton div {
        font-size: 1em;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}


@media (max-width: 550px) {
    .ChartNavButton div {
        font-size: 11px;
        padding-left: 3px;
        padding-bottom: 3px;
    }
}
