
@media (max-width: 600px) {
    .ChartNavButton div {
        font-size: 1em;

        padding-top: 7px;
        padding-bottom: 7px;
    }
}


@media (max-width: 500px) {
    .ChartNavButton div {
        font-size: 11px;
    }
}
