.App {
  text-align: center;
  /*display: table;*/
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


@media (max-width: 600px) {
    .SnackBar {
        height: 1em;
    }
}

@media (max-width: 900px) {
    .SnackBar {
        height: 1.5em;
    }
}

@media (max-width: 600px) {
    button.ChartNavButton {
        font-size: 12px;
        padding-bottom: 1px;
        padding-top: 1px;
    }
    header div {
        padding-bottom: 1px;
        padding-top: 1px;
    }
}
