.simple-cloud .tag-cloud-tag {
  cursor: pointer;
  vertical-align: middle;
  margin:0 auto;
  margin: 5;
  padding: 5;
}

.simple-cloud {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

@keyframes blinker {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}
